<div class="container">
  <%= render "googlemap"%>
</div>
<div class="container mt-4 bg-white text-dark box1" style="padding:10px;">
<span class="box-title">掲示板一覧</span>
  <%= will_paginate @map_places %>
    <ul class="map_places">
      <% @map_places.each do |map_place| %>
        <li class='list'>
          <%= link_to map_place.place_name, "/maps/#{map_place.id}/boards" %>
        </li>
      <% end %>
    </ul>
  <%= will_paginate @map_places %>
</div>
<% if !current_user.nil? && current_user.admin? %>
<%= form_with(model: @map_place, url: maps_path, local: true) do |form| %>
      <h3 class="map-title">掲示板を作成</h3>
      <div class="field3">
        <%= form.label :place_name, "場所名", class: 'spot__title' %>
        <%= form.text_field :place_name, placeholder: "スポットを入力", id: "place_name", class: 'spot__text' %>
      </div>
      <div class="field3">
        <%= form.label :latitude, "緯度" %>
        <%= form.text_field :latitude %>
      </div>
      <div class="field3">
        <%= form.label :longitude, "経度" %>
        <%= form.text_field :longitude %>
      </div>
      <div class="actions">
        <%= form.submit "作成" %>
      </div>
    <% end %>
<% end %>