<header>
  <div class="container py-4">
    <div class="row no-gutters">
      <div class="col-lg-4 d-none d-lg-flex align-items-center">
      </div>
      <div class="col-lg-4">
        <h1 class="text-center mb-0">
          <a class="color__logo font-weight-bold" href="">
          LeGrandBleu
          </a>
        </h1>
      </div>
      <div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-end">
        <a href="" class="btn btn-primary font-weight-bold">資料請求</a>
      </div>
    </div>
  </div>
    <nav class="navbar navbar-default navbar-expand-lg py-0 navbar-light color__navi ">
      <div class="container font-weight-bold justify-content-center">
        <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="スマートフォン用ナビゲーション">
          <span class="navbar-toggler-icon"></span>
          <span class="toggler__txt">メニュー</span>
        </button>
        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="w-100 navbar-nav pb-3 pb-lg-0 d-flex align-items-center justify-content-between">
            <li class="nav-item active"><a class="nav-link py-4" href="#">リンク１</a></li>
            <li class="nav-item active"><a class="nav-link py-4" href="#">リンク2</a></li>
            <li class="nav-item "><a class="nav-link py-4" href="#">リンク３</a></li>
            <li class="nav-item "><a class="nav-link py-4" href="#">リンク４</a></li>
            <li class="nav-item "><a class="nav-link py-4" href="#">リンク５</a></li>
            <li class="nav-item "><a class="nav-link py-4" href="#">リンク６</a></li>
            <li class="nav-item d-lg-none"><a href="" class="btn btn-primary font-weight-bold">マイページ</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <%= render "googlemap"%>
</div>
<div class="">
  <%# <%= will_paginate %> %>
    <ul class="map_places">
      <% @map_places.each do |map_place| %>
        <li class='list'>
          <%= link_to map_place.place_name, "#" %>
        </li>
      <% end %>
    </ul>
  <%# <%= will_paginate %> %>
</div>
<%= form_with(model: @map_place, url: maps_path, local: true) do |form| %>
      <h3 class="map-title">掲示板を作成</h3>
      <div class="field3">
        <%= form.label :place_name, "場所名", class: 'spot__title' %>
        <%= form.text_field :place_name, placeholder: "スポットを入力", id: "place_name", class: 'spot__text' %>
      </div>
      <div class="field3">
        <%= form.label :latitude, "緯度" %>
        <%= form.text_field :latitude %>
      </div>
      <div class="field3">
        <%= form.label :longitude, "経度" %>
        <%= form.text_field :longitude %>
      </div>
      <div class="actions">
        <%= form.submit "作成" %>
      </div>
    <% end %>
