<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <%# <% if user_signed_in? %> %>
          <li><%= link_to '名前', "#" %></li>
          <li><%= link_to 'ログアウト', "#", method: :delete %></li>
        <%# <% else %> %>
          <li><%= link_to 'ログイン', "#"%></li>
          <li><%= link_to '新規登録', "#" %></li>
        <%# <% end %> %>
      </ul>
    </nav>
  </div>
</header>
<div class=container>
  <div class="google-map">
    <%= render "shared/googlemap"%>
  </div>
  <div class="">
  </div>
</div>