<div class="container emp-profile">
  <div class="row">
      <div class="col-md-4">
          <div class="profile-img">
              <div class="my-image">
                <% if @user.avatar.attached? %>
                  <%=image_tag @user.avatar.variant(resize: '280x280') %>
                <% else %>
                  <%= image_tag "image1.jpeg", size: '280x280',class: "dolfin" %>
                <% end %>
              </div>
              <div class="file btn btn-lg btn-primary">
                  画像を変更する
                  <%= form_with model: @user,url: user_path(@user),method: :PUT, class: 'form-edit', local: true do |f| %>
                  <%= f.file_field :avatar %>
              </div>
          </div>
                  <%= f.submit '画像を決定する', class: 'btn btn-primary ml-5' %>
                  <% end %>
      </div>
      <div class="col-md-6">
          <div class="profile-head">
                      <h5><%= @user.nickname %></h5>
                      <h6><%= @user.self_introduction %></h6>
          </div>
      </div>
      <div class="col-md-2">
        <%= link_to "マイページ編集",  edit_user_path(current_user.id), class: "btn btn-outline-primary" %>
      </div>
  </div>
      <div class=" center col-xs-12 divider text-center row justify-content-center">
        <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong> 20,7K </strong></h2>                    
          <p><small>Following</small></p>
          <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follower </button>
      </div>
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong>245</strong></h2>                    
        <p><small>Followed</small></p>
        <button class="btn btn-info btn-block"><span class="fa fa-user"></span> Followed </button>
      </div>
</div>
<h3 class="center mt-5">ログブック一覧</h3>
   <%= will_paginate @log_books  %>
  <div class="log-list">
    <% @log_books.each do |book| %>
      <li class='list'>
        <%= l book.created_at, format: :short %>
        <%= link_to book.place, "/users/#{current_user.id}/log_books/#{book.id}" %>
      </li>
    <% end %>
  </div>
    <%= will_paginate @log_books %>
