<header>        
  <nav class="navbar navbar-default navbar-expand-lg py-0 navbar-light color__navi">
    <div class="container-fluid font-weight-bold ">
      <a class="navbar-brand " href="#">
        <h2 class="mb-0 font-weight-bold le_grand_bleu">
            LeGrandBleu
        </h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="スマートフォン用ナビゲーション">
        <span class="navbar-toggler-icon"></span>
        <span class="toggler__txt">メニュー</span>
      </button>
      <div class="navbar-collapse collapse pb-md-0" id="navbarContent">
        <ul class="w-100 navbar-nav pb-3 pb-lg-0 d-flex align-items-center mt-2">
            <li class="nav-item "><%= link_to "使い方", explanation_path , class: "nav-link p-4"%></li>
            <li class="nav-item "><%= link_to "マップページ", maps_path , class: "nav-link p-4"%></li>
            <% if user_signed_in? %>
              <li class="nav-item "><%= link_to "みんなのログブック", "#", class: "nav-link p-4" %></li>
              <li class="nav-item "><%= link_to "ログブック作成", new_user_log_book_path(current_user.id) , class: "nav-link p-4" %></li>
              <li class="nav-item ml-lg-auto"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link p-4" %>
              <li class="nav-item "><%= link_to current_user.nickname,  users_path(current_user), class: "nav-link p-4" %>
            <% else %>
              <li class="nav-item ml-lg-auto"><%= link_to 'ログイン', new_user_session_path, class: "nav-link p-4" %></li>
              <li class="nav-item "><%= link_to '新規登録', new_user_registration_path, class: "nav-link p-4" %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>