ログブック詳細

<div class="container">
<div class="log-list">
    <h1 class="box-title"><%= @log_book.place %></h1>
    <h3>場所</h3><%= @log_book.weight %>
    <h6>透明度</h6><%= @log_book.transparency %>
    <h6>始めた時間</h6><%= @log_book.en_time %>
    <h6>出た時間</h6><%= @log_book.ex_time %>
    <h6>気温</h6><%= @log_book.temperature %>
    <h6>水温</h6><%= @log_book.water_temperature %>
    <h6>平均潜水深度</h6><%= @log_book.deep_avg %>
    <h6>最大潜水深度</h6><%= @log_book.deep_max %>
    <h6>装備</h6><%= @log_book.wear %>
    <h6>メンバー</h6><%= @log_book.member %>
    <h6>freespace</h6><%= @log_book.free_space %>
  </div>
</div>